/* This only changes this particular animation duration */
.animate__animated.animate__fadeInUpBig {
  --animate-duration: 2.5s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2.5s;
}

.animate__animated.animate__shakeY {
  --animate-duration: 2.3s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
